/*CSS reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--standard-padding: 1rem;
	/* padding and gaps in the nav and around everything */
	--border-radius: .5rem;
	/* all corners are based on this */
	--background-color: #111;
	/* behind the whole page */
	--page-color: #333;
	/* used for the page and nav links */
	--nav-width: 16rem;
	--text-color: white;
	--dark-text-color: #111;
	--light-background-color: rgba(255, 255, 255, .7);
}

.loader {
	width: 3rem;
	aspect-ratio: 1 / 1;
	border-radius: 100%;
	background-image: conic-gradient(transparent, white);
	animation: rotate 1s infinite linear;
	position: absolute;
	left: calc(50% - 1.5rem);
	top: calc(50% - 1.5rem);
}

.loader:after {
	content: '';
	inset: .5em;
	border-radius: 100%;
	background-color: var(--page-color);
	z-index: 3;
	position: absolute;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

main:has(.loader) {
	animation: pulse 1s infinite ease alternate;
}

@keyframes pulse {
	0% {
		opacity: 1;
	}

	100% {
		opacity: .7;
	}
}

body {
	display: grid;
	grid-template-columns: var(--nav-width) 1fr;
	padding: var(--standard-padding);
	font-family: 'Saira', arial, sans-serif;
	background-color: var(--background-color);
	width: 100vw;
	height: 100svh;
	overflow: hidden;
	transform: translateX(calc(-1 * var(--nav-width) + 3rem));
	transition: transform .2s ease-out;
	color: var(--text-color);
}

body.menu-open,
body:has(header input[type="checkbox"]:checked) {
	transform: translateX(0);
	/*When the menu is open the whole page moves back to the right*/
}

h2 {
	font-weight: 300;
}

header {
	position: relative;
}

/*Navigation styling*/
nav {
	display: grid;
	gap: var(--standard-padding);
	position: relative;
	max-height: calc(100svh - 2 * var(--standard-padding));
	overflow-x: hidden;
	overflow-y: auto;
	padding-top: 3rem;
}

nav h2 {
	color: var(--text-color);
	text-transform: uppercase;
	font-size: 1.2rem;
	margin-top: 1rem;
	margin-bottom: 0;
}

nav ul {
	display: grid;
	gap: var(--standard-padding);
	list-style: none;
}

nav a {
	border-radius: var(--border-radius);
	background-color: var(--page-color);
	padding: .2rem 1rem;
	display: flex;
	margin-right: var(--standard-padding);
	text-decoration: none;
	position: relative;
	color: var(--text-color);
	position: relative;
	font-size: 1rem;
	gap: 1rem;
	align-items: center;
}

nav a img {
	--inset: .2rem;
	position: absolute;
	inset: var(--inset);
	border-radius: calc(var(--border-radius) * .8);
	object-fit: cover;
	overflow: hidden;
	object-position: center;
	width: calc(100% - var(--inset) * 2);
	height: calc(100% - var(--inset) * 2);
	pointer-events: none;
}

nav a span {
	position: relative;
	z-index: 3;
	margin: .8rem 0;
	background: #fffc;
	border-radius: var(--border-radius);
	padding: .3em .7em;
	color: black;
	pointer-events: none;
	min-height: 1rem;
}

nav ul:first-of-type a img {
	position: relative;
	order: -1;
	border-radius: 100%;
	aspect-ratio: 1 / 1;
	width: auto;
	height: 2.5rem;
}

/* style the current nav link */
nav a[aria-current] {
	margin-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

nav a[aria-current] img {
	right: var(--standard-padding);
}

nav a[aria-current]:before,
nav a[aria-current]:after,
header input[type="checkbox"]:after {
	--outer-border-radius: calc(var(--border-radius) * 2);
	content: "";
	display: block;
	height: calc(var(--outer-border-radius) * 2);
	aspect-ratio: 1 / 1;
	background-color: var(--background-color);
	position: absolute;
	right: 0;
	z-index: -1;
}

nav a[aria-current]:before {
	border-bottom-right-radius: var(--outer-border-radius);
	top: calc(var(--outer-border-radius) * -2);
	box-shadow: var(--outer-border-radius) var(--border-radius) var(--page-color);
}

nav a[aria-current]:after,
header input[type="checkbox"]:after {
	border-top-right-radius: var(--outer-border-radius);
	bottom: calc(var(--outer-border-radius) * -2);
	box-shadow: var(--outer-border-radius) calc(var(--border-radius) * -1) var(--page-color);
}

/* The before and after create the inside radii. They have a shadow in the page color and the background-color as background*/
/* Source: https://www.youtube.com/watch?v=SkML640BcoA */

/* Navigation toggle */
header input[type="checkbox"] {
	appearance: none;
	/* Don't use standard checkbox styling. */
	/* Source: weekly nerd by Kilian Valkhof */
	position: absolute;
	right: 0;
	border-radius: var(--border-radius) 0 0 var(--border-radius);
	width: 3rem;
	aspect-ratio: 1 / 1;
	z-index: 3;
	background-color: var(--page-color);
	font-size: 1rem;
	cursor: pointer;
	background-image: url(../images/bars-solid.svg);
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
}

header input[type="checkbox"]:checked {
	background-image: url(../images/xmark-solid.svg);
	/* Different background images for :checked stated (menu is open)*/
}

/*Main styling*/
main {
	background-color: var(--page-color);
	border-radius: var(--border-radius);
	border-top-left-radius: 0;
	padding: 2rem max(1rem, 5vw);
	height: calc(100svh - 2 * var(--standard-padding));
	overflow-x: hidden;
	overflow-y: auto;
	width: calc(100vw - 2 * var(--standard-padding) - 3rem);
	position: relative;
	/* The width of the page without padding width on both sides and without 3rem to show a bit of the nav */
}

main section {
	margin-block: 1rem;
	overflow: hidden;
}

main li {
	margin-left: 1em;
	padding-left: .5em;
}

main h2 {
	margin-top: 2rem;
}

.rating {
	height: 2em;
	justify-content: start;
	display: flex;
}

.profile {
	display: grid;
	grid-template-columns: min-content 1fr;
	column-gap: 1rem;
	background-color: var(--light-background-color);
	color: var(--dark-text-color);
	border-radius: 1rem;
	border: .5px solid white;
	padding: 1em;
	width: max-content;
	align-items: center;
}

.profile img {
	grid-column: 1;
	grid-row: 1/4;
	height: 5rem;
	border-radius: 100%;
	aspect-ratio: 1 / 1;
}

.profile p:first-of-type {
	font-weight: bold;
}

section.experience {
	display: grid;
	grid-template-columns: 1fr;
	background-color: var(--light-background-color);
	color: var(--dark-text-color);
	border-radius: 1rem;
	border: .5px solid white;
}

section .title-bar {
	border-bottom: .5px solid white;
	grid-column: 1/-1;
	display: flex;
	flex-wrap: wrap;
	padding: 1em;
	gap: 1em;
	align-items: center;
}

.experience p {
	margin: max(1rem, 2vw);
}

.experience > img {
	width: 100%;
	grid-column: 1;
	grid-row: 2;
}

.experience h2 {
	margin: 0;
}

.recommendations ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.recommendations li {
	background: var(--light-background-color);
	color: var(--dark-text-color);
	max-width: 30ch;
	border-radius: .5rem;
	padding: .5rem 1em;
	margin: 0;
}

/* Desktop styling */
@media screen and (width > 64rem) {

	/* Menu always visible, so no transfrom, no checkbox, and main just takes the rest of the space */
	body {
		transform: translate(0);
	}

	header input[type="checkbox"] {
		display: none;
	}

	nav {
		padding-top: 0;
	}

	main {
		width: 100%;
		border-top-left-radius: var(--border-radius);
	}

	section.experience {
		grid-template-columns: 1fr 1fr;
	}
}